<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <proxies>
        <proxy>
            <id>default-http-proxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy</host>
            <port>8080</port>
            <nonProxyHosts>localhost|127.*|*.local</nonProxyHosts>
        </proxy>
        <proxy>
            <id>default-https-proxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>proxy</host>
            <port>8080</port>
            <nonProxyHosts>localhost|127.*|*.local</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
